@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

/* Add subtle shadow to the main content */
.hero-shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}


.pattern-background {
  
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.pattern-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-conic-gradient(
    from 0deg,
    transparent 0deg 44deg,
    #e5e5e5 45deg 46deg,
    transparent 47deg 89deg,
    #e5e5e5 90deg 91deg,
    transparent 92deg 134deg,
    #e5e5e5 135deg 136deg,
    transparent 137deg 179deg,
    #e5e5e5 180deg 181deg,
    transparent 182deg 224deg,
    #e5e5e5 225deg 226deg,
    transparent 227deg 269deg,
    #e5e5e5 270deg 271deg,
    transparent 272deg 314deg,
    #e5e5e5 315deg 316deg,
    transparent 317deg 360deg
  );
  background-size: 40px 40px;
  opacity: 0.3;
  z-index: 0;
}


.pattern-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    repeating-linear-gradient(45deg, 
      transparent 0px 19px,
      #d1d1d1 19px 21px,
      transparent 21px 40px
    ),
    repeating-linear-gradient(-45deg, 
      transparent 0px 19px,
      #d1d1d1 19px 21px,
      transparent 21px 40px
    );
  background-size: 40px 40px;
  opacity: 0.8;
}


.pattern-overlay::after {
  content: '×';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template: repeat(50, 1fr) / repeat(50, 1fr);
  font-size: 16px;
  color: #d1d1d1;
  opacity: 0.5;
  place-items: center;
  transform: scale(0.8);
}


.relative.z-10 {
  position: relative;
  z-index: 1;
  background: transparent;
}

